.review {
  width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.review__wrapper {
  width: 560px;
  height: 242px;

  background-color: #1c3374;
}

.review__title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.review__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
